<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@0.3.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
    <div class="bg-grey-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                    <h1 class="mb-8 text-3xl text-center">Log In</h1>
                    <form [formGroup]="loginForm" >

                      <input 
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        [ngClass]="{error: getControl('email')?.errors && getControl('email')?.touched}"
                        name="email"
                        formControlName="email"
                        placeholder="Email" />

                        <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                            <div 
                            class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                                <p *ngIf="getControl('email')?.errors?.required">E-mail is required</p>  
                              </div>   
                          </div>

                      <input 
                          type="password"
                          class="block border border-grey-light w-full p-3 rounded mb-4"
                          [ngClass]="{error: getControl('password')?.errors && getControl('password')?.touched}"
                          name="password"
                          formControlName="password"
                          placeholder="Password" />

                          <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
                            <div 
                            class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                                <p *ngIf="getControl('password')?.errors?.required">Password is required</p>  
                              </div>   
                          </div>
                  </form>
                    <button
                        type="submit"
                        (click)="submitLogin()"
                        class="w-full text-center py-3 rounded bg-green text-white hover:bg-green-dark focus:outline-none my-1"
                    >Sing In</button>
                </div>
                <div class="text-grey-dark mt-6">
                    Don't have account? 
                    <a style="cursor: pointer;" class="no-underline border-b border-blue text-blue" routerLink="/signup">
                        Sign up
                    </a>.
                </div>
            </div>
        </div>
</body>
</html>
